<p-toast />
<p-confirmDialog />

<div class="container">
  <h2>
    <span class="material-icons user-icon">group</span>
    Directorio de Clientes
  </h2>

  <p-table
    #dt
    [value]="clientes()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['nombre', 'email', 'telefono']"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar por cliente..."
          />
        </p-iconfield>

        <p-button
          label="Nuevo Cliente"
          icon="pi pi-plus-circle"
          [routerLink]="['/clientes/nuevo']"
           severity="secondary"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" /></th>
        <th>Teléfono</th>
        <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
        <th style="text-align: center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cli>
      <tr>
        <td>{{ cli.id }}</td>
        <td>{{ cli.nombre }}</td>
        <td>{{ cli.telefono || 'N/A' }}</td>
        <td>{{ cli.email || 'N/A' }}</td>
        <td style="text-align: center">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            [routerLink]="['/clientes/editar', cli.id]"
            title="Editar"
          />
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (click)="abrirConfirmacion(cli)"
            title="Eliminar"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6"  class="sin-registros">
          No se encontraron clientes.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>