  <h1 class="dashboard-title">Estadísticas</h1>
      
  @if (resumen()) {
    <div class="stats-grid">
      
      <div class="card card-sales">
        <h3 class="card-title">Ventas Totales</h3>
        <p class="card-value">
          {{ resumen().totalVentasRealizadas }}
        </p>
      </div>

      <div class="card card-income">
        <h3 class="card-title">Ingresos</h3>
        <p class="card-value">
          {{ resumen().ingresosTotales | currency }}
        </p>
      </div>
      
    </div>

    <div class="featured-product-box">
      <h3 class="featured-title">
        <span class="material-icons estrella">star</span>
        Producto más vendido
      </h3>
      <p class="featured-text">
        <strong>{{ resumen().productoMasVendido }}</strong> 
        con <span class="highlight-text">{{ resumen().unidadesDelProductoMasVendido }}</span> unidades.
      </p>
    </div>


  } @else {
    <div class="loading-box">
      <p>Cargando estadísticas del servidor...</p>
    </div>
  }
