<p-toast />
<p-confirmDialog />

<div class="container">
  <h2>
    <span class="material-symbols-outlined">potted_plant</span>
    Inventario de Productos
  </h2>

  <p-table
    #dt
    [value]="productos()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['producto', 'categoria']"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar  por producto..."
          />
        </p-iconfield>

        <p-button
          label="Nueva Planta"
          icon="pi pi-plus-circle"
          [routerLink]="['/productos/nuevo']"
          severity="secondary"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
        <th pSortableColumn="producto">Producto <p-sortIcon field="producto" /></th>
        <th pSortableColumn="categoria">Categoría <p-sortIcon field="categoria" /></th>
        <th pSortableColumn="precioCompra">P. Compra <p-sortIcon field="precioCompra" /></th>
        <th pSortableColumn="precioVenta">P. Venta <p-sortIcon field="precioVenta" /></th>
        <th style="text-align: center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-p>
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.producto }}</td>
        <td>
          <p-tag [value]="p.categoria" severity="secondary" />
        </td>
        <td>{{ p.precioCompra | currency }}</td>
        <td>{{ p.precioVenta | currency }}</td>
        <td style="text-align: center">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            [routerLink]="['/productos/editar', p.id]"
            title="Editar"
          />
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (click)="abrirConfirmacion(p)"
            title="Eliminar"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="sin-registros">
          No se encontraron productos.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>