<div class="table-container">
  <h2> 
    <span class="material-icons icono-llave">key</span>
    Gestión de Usuarios del Sistema
</h2>

  <div class="actions-header">
    <input 
      type="text" 
      [(ngModel)]="searchText" 
      (ngModelChange)="onSearchChange()"
      placeholder="Buscar por usuario..." 
      class="search-input"
    />
    <button routerLink="/usuarios/nuevo" class="btn-add">
        <span class="material-icons">add_circle</span>
      Nuevo Usuario
    </button>
  </div>

  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario (Username)</th>
        <th>Rol / Permisos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuariosPaginados()">
        <td>{{ user.id }}</td>
        <td><b class="username-text">{{ user.username }}</b></td>
        <td>
          <span class="role-badge">
            {{ user.rol || 'USER' }}
          </span>
        </td>
<td class="actions-cell">
  <button class="btn-edit-row" [routerLink]="['/usuarios/editar', user.id]">
   <span class="material-icons icono-llave">key</span>
  </button>
  <button class="btn-delete-row" (click)="abrirConfirmacion(user, modalEliminar)">
    <span class="material-icons icon-red">delete</span>
  </button>
</td>

      </tr>
      <tr *ngIf="usuariosPaginados().length === 0">
        <td colspan="6" class="sin-registros">
          No se encontraron usuarios.
        </td>
      </tr>
    </tbody>
  </table>

      <div class="pagination-container">
    <div class="page-size-selector">
      <label>Mostrar: </label>
      <select [(ngModel)]="usuariosPorPagina" (change)="cambiarTamano()">
        <option [ngValue]="5">5 usuarios</option>
        <option [ngValue]="10">10 usuarios</option>
        <option [ngValue]="20">20 usuarios</option>
      </select>
    </div>

    <div class="page-buttons">
      <button (click)="cambiarPagina(paginaActual() - 1)" [disabled]="paginaActual() === 1" class="btn-page">
        <span class="material-icons">chevron_left</span>
      </button>
      
      <span class="page-info">Página {{ paginaActual() }} de {{ totalPaginas() || 1 }}</span>
      
      <button (click)="cambiarPagina(paginaActual() + 1)" [disabled]="paginaActual() === totalPaginas() || totalPaginas() === 0" class="btn-page">
        <span class="material-icons">chevron_right</span>
      </button>
    </div>
  </div>

</div>

<dialog #modalEliminar class="confirm-modal">
  <div class="modal-content">
    <span class="material-icons alert">warning</span>
    <h2>Eliminar  '{{ usuarioSeleccionado()?.username }}'</h2>
    <p>¿Estás seguro de que deseas quitar al usuario <strong>{{ usuarioSeleccionado()?.username }}</strong> del sistema? <br> Esta acción no se puede deshacer.</p>
    <div class="modal-actions">
      <button (click)="confirmarEliminar(modalEliminar)" class="btn-confirm-delete">Sí, Eliminar</button>
      <button (click)="cerrarModal(modalEliminar)" class="btn-cancel-delete">Cancelar</button>
    </div>
  </div>
</dialog>
