<p-toast />
<p-confirmDialog />

<div class="container">
  <h2>
    <span class="material-icons icono-llave">key</span>
    Gestión de Usuarios del Sistema
  </h2>

  <p-table
    #dt
    [value]="usuarios()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['username', 'rol']"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar por usuario..."
          />
        </p-iconfield>

        <p-button
          label="Nuevo Usuario"
          icon="pi pi-plus-circle"
          [routerLink]="['/usuarios/nuevo']"
           severity="secondary"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
        <th pSortableColumn="username">Username <p-sortIcon field="username" /></th>
        <th pSortableColumn="rol">Rol <p-sortIcon field="rol" /></th>
        <th style="text-align: center">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td><b>{{ user.username }}</b></td>
        <td>
          <p-tag
            [value]="user.rol || 'USER'"
            [severity]="user.rol === 'ADMIN' ? 'danger' : 'info'"
          />
        </td>
        <td style="text-align: center">
          <p-button
            icon="pi pi-key"
            [rounded]="true"
            [text]="true"
            severity="info"
            [routerLink]="['/usuarios/editar', user.id]"
            title="Editar"
          />
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (click)="abrirConfirmacion(user)"
            title="Eliminar"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6"  class="sin-registros">
          No se encontraron usuarios.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>