    <div class="form-wrapper">
      <div class="form-card">
        <h2>Nuevo Producto</h2>
        <form #miFormulario="ngForm" (ngSubmit)="guardar(miFormulario)">
          <div class="input-group">
            <label>Nombre del Producto</label>
            <input type="text" [(ngModel)]="nuevoProducto.producto" name="nombre" required #prodInput="ngModel">
            <span class="error-text" *ngIf="prodInput.invalid && prodInput.touched">El nombre es obligatorio</span>
          </div>
          
<div class="input-group">
  <label for="categoria">Categoría</label>
  <select 
    id="categoria"
    [(ngModel)]="nuevoProducto.categoria" 
    name="categoria" 
    required #catInput="ngModel">
    <option value="" disabled selected>Seleccione una categoría</option>
    <option value="Fundas">Fundas</option>
    <option value="Saquillos">Saquillos</option>
  </select>
  <span class="error-text" *ngIf="catInput.invalid && catInput.touched">La categoría es obligatoria</span>
</div>

          <div style="display: flex; gap: 10px;">
            <div class="input-group">
              <label>P. Compra</label>
              <input type="number" [(ngModel)]="nuevoProducto.precioCompra" name="pCompra" min="0" required #compraInput="ngModel">
              <span class="error-text" *ngIf="compraInput.invalid && compraInput.touched">Mínimo 0</span>
            </div>
            <div class="input-group">
              <label>P. Venta</label>
              <input type="number" [(ngModel)]="nuevoProducto.precioVenta" name="pVenta" min="0" required #ventaInput="ngModel">
              <span class="error-text" *ngIf="ventaInput.invalid && ventaInput.touched">Mínimo 0</span>
            </div>
          </div>

          <div class="actions">
            <button type="submit" class="btn-save" [disabled]="miFormulario.invalid">Guardar Planta</button>
            <button type="button" routerLink="/productos" class="btn-cancel">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
