<p-toast />

<div class="form-wrapper">
  <div class="form-card">
    <h2>Nuevo Usuario</h2>

    <form #miFormulario="ngForm" (ngSubmit)="guardar(miFormulario)">

      <div class="input-group">
        <label for="username">Nombre de Usuario (Username)</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="nuevoUsuario.username"
          name="username"
          required
          minlength="4"
          #userInput="ngModel"
          placeholder="Ej. admin_vivero"
        />
        <div class="error-container" *ngIf="userInput.invalid && userInput.touched">
          <small *ngIf="userInput.errors?.['required']">El nombre de usuario es obligatorio.</small>
          <small *ngIf="userInput.errors?.['minlength']">Mínimo 4 caracteres.</small>
        </div>
      </div>

<div class="input-group">
  <label for="password">Contraseña</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="nuevoUsuario.password"
    name="password"
    required
    #passInput="ngModel"
    placeholder="Mínimo 8 caracteres"
  />
  <div class="password-rules" *ngIf="passInput.touched || nuevoUsuario.password">
    <small [class.valid]="tieneLength()" [class.invalid]="!tieneLength()">
      <span class="pi" [class.pi-check]="tieneLength()" [class.pi-times]="!tieneLength()"></span>
      Mínimo 8 caracteres
    </small>
    <small [class.valid]="tieneMayuscula()" [class.invalid]="!tieneMayuscula()">
      <span class="pi" [class.pi-check]="tieneMayuscula()" [class.pi-times]="!tieneMayuscula()"></span>
      Una letra mayúscula
    </small>
    <small [class.valid]="tieneMinuscula()" [class.invalid]="!tieneMinuscula()">
      <span class="pi" [class.pi-check]="tieneMinuscula()" [class.pi-times]="!tieneMinuscula()"></span>
      Una letra minúscula
    </small>
    <small [class.valid]="tieneEspecial()" [class.invalid]="!tieneEspecial()">
      <span class="pi" [class.pi-check]="tieneEspecial()" [class.pi-times]="!tieneEspecial()"></span>
      Un carácter especial (!@#$...)
    </small>
  </div>
</div>

      <div class="input-group">
        <label for="rol">Rol del Usuario</label>
        <select id="rol" [(ngModel)]="nuevoUsuario.rol" name="rol" class="custom-select">
          <option value="USER">Usuario Estándar (USER)</option>
          <option value="EMPLOYEE">Empleado/Trabajador (EMPLOYEE)</option>
          <option value="ADMIN">Administrador General (ADMIN)</option>
        </select>
      </div>

      <div class="form-actions">
        <p-button
          type="submit"
          label="Guardar Usuario"
          icon="pi pi-check"
          [disabled]="miFormulario.invalid || !passwordValida()"
          styleClass="btn-save-prime"
        />
        <p-button
          type="button"
          label="Cancelar"
          severity="secondary"
          routerLink="/usuarios"
          styleClass="btn-cancel-prime"
        />
      </div>

    </form>
  </div>
</div>